{
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@babel/eslint-parser",
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "extends": ["eslint:recommended"],
  "plugins": ["import"],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", ["parent", "sibling"], "index"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ]
  }
}
